/* src/components/About.css */
.about {
    max-width: 800px;
    margin: auto;
    padding: 50px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
  
  .about h2 {
    color: #fbb615;
    text-align: center;
  }
  
  .about p {
    line-height: 1.8;
    text-align: justify;
  }